input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: right;
}

.topbar {
    text-align: right;
}

.container {
    margin-top: 30px;
}

.errors {
    color: red;
    text-align: left;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.loginlabel {
    display: block;
    text-align: right;
    font-size: 18px
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + .thumbnail{ /* IMAGE STYLES */
    cursor:pointer;
}

label > input:checked + .thumbnail{ /* (RADIO CHECKED) IMAGE STYLES */
    -moz-box-shadow:    0px 0px 15px blue;
    -webkit-box-shadow: 0px 0px 15px blue;
    box-shadow:         0px 0px 15px blue;
}

.submitbote {
    padding: 40px;
}

.israel {
    float: left;
    height: 150;
}
