<html>
  <head>
    <title>Flask Intro - login page</title>
    <link rel='icon' href='favicon.ico' type='image/png'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/all.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" align="center">
        <div class="israel"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Emblem_of_Israel.svg/250px-Emblem_of_Israel.svg.png" height="130"> </img></div>
      <h1>ברוכים הבאים למערכת הבחירות הממוחשבת</h1>
      <h4>נא לבצע חיבור ראשוני למערכת</h4>
      <br>
      <form action="" method="post">
        <label class="loginlabel" for="first_name">:שם פרטי</label>
        <input id="first_name" type="text" placeholder="שם פרטי" align="right" name="first_name" value="{{
          request.form.first_name }}">
        <label class="loginlabel" for="last_name">:שם משפחה</label>
         <input id="last_name" type="text" placeholder="שם משפחה" align="right" name="last_name" value="{{
          request.form.last_name }}">
        <input class="btn btn-default" type="submit" value="כניסה">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li class="errors">{{ message }} </li>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
      </div>
    </div>
  </body>
</html>